<div class="bg-white shadow-lg rounded-lg p-8 w-full max-w-md transform transition-all hover:shadow-2xl">
  <p>
    <%= @message.content %>
  </p>

  <%= link_to  "Create a new message", root_url %>
</div>

