---
http_interactions:
- request:
    method: patch
    uri: https://discord.com/api/v9/channels/1295855052929630230/messages/1311101897389768804
    body:
      encoding: UTF-8
      string: '{"content":"⚠️ This message has expired","flags":null,"components":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Bucket:
      - 3df15bae86f6647dd4dfcbd5c6949480
      X-Ratelimit-Limit:
      - '5'
      X-Ratelimit-Remaining:
      - '4'
      X-Ratelimit-Reset:
      - '1732661481.481'
      X-Ratelimit-Reset-After:
      - '1.000'
    body:
      encoding: ASCII-8BIT
      string: '{"type":0,"content":"\u26a0\ufe0f This message has expired","mentions":[],"mention_roles":[],"attachments":[],"embeds":[],"timestamp":"2024-11-26T22:50:51.433000+00:00","edited_timestamp":"2024-11-26T22:51:20.510168+00:00","flags":0,"components":[],"id":"1311101897389768804","channel_id":"1295855052929630230","author":{"id":"1296566140188754081","username":"PRIVY-DEV","avatar":null,"discriminator":"1385","public_flags":524288,"flags":524288,"bot":true,"banner":null,"accent_color":null,"global_name":null,"avatar_decoration_data":null,"banner_color":null,"clan":null,"primary_guild":null},"pinned":false,"mention_everyone":false,"tts":false}

        '
  recorded_at: Tue, 26 Nov 2024 22:51:20 GMT
recorded_with: VCR 6.3.1
