---
http_interactions:
- request:
    method: post
    uri: https://discord.com/api/v9/channels/1295846289195663363adsadadad/messages
    body:
      encoding: UTF-8
      string: '{"content":"Hey @everyone! here is a new **privy** message","flags":null,"components":[{"type":1,"components":[{"type":2,"label":"Reveal","style":3,"custom_id":"{\"resolver_name\":\"Discord::Interactions::Resolvers::RevealMessage\",\"data\":{\"message_id\":455}}"}]}]}'
    headers:
      Authorization:
      - Bot ...
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Bucket:
      - 3df15bae86f6647dd4dfcbd5c6949480
      X-Ratelimit-Limit:
      - '5'
      X-Ratelimit-Remaining:
      - '4'
      X-Ratelimit-Reset:
      - '1732314707.410'
      X-Ratelimit-Reset-After:
      - '1.000'
    body:
      encoding: ASCII-8BIT
      string: '{"message": "Invalid Form Body", "code": 50035, "errors": {"channel_id":
        {"_errors": [{"code": "NUMBER_TYPE_COERCE", "message": "Value \"1295846289195663363adsadadad\"
        is not snowflake."}]}}}'
  recorded_at: Fri, 22 Nov 2024 22:31:46 GMT
recorded_with: VCR 6.3.1
