---
http_interactions:
- request:
    method: post
    uri: https://discord.com/api/v9/channels/1295846289195663363/messages
    body:
      encoding: UTF-8
      string: '{"content":"Hey @everyone! here is a new **privy** message","flags":null,"components":[{"type":1,"components":[{"type":2,"label":"Reveal","style":3,"custom_id":"{\"resolver_name\":\"Discord::Interactions::Resolvers::RevealMessage\",\"data\":{\"message_id\":305}}"}]}]}'
    headers:
      Authorization:
      - Bot ...
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Bucket:
      - 3df15bae86f6647dd4dfcbd5c6949480
      X-Ratelimit-Limit:
      - '5'
      X-Ratelimit-Remaining:
      - '4'
      X-Ratelimit-Reset:
      - '1732313236.073'
      X-Ratelimit-Reset-After:
      - '1.000'
    body:
      encoding: ASCII-8BIT
      string: '{"type":0,"content":"Hey @everyone! here is a new **privy** message","mentions":[],"mention_roles":[],"attachments":[],"embeds":[],"timestamp":"2024-11-22T22:07:15.091000+00:00","edited_timestamp":null,"flags":0,"components":[{"type":1,"id":1,"components":[{"type":2,"id":2,"custom_id":"{\"resolver_name\":\"Discord::Interactions::Resolvers::RevealMessage\",\"data\":{\"message_id\":305}}","style":3,"label":"Reveal"}]}],"resolved":{"users":{},"members":{},"channels":{},"roles":{}},"id":"1309641372193656964","channel_id":"1295846289195663363","author":{"id":"1296566140188754081","username":"PRIVY-DEV","avatar":null,"discriminator":"1385","public_flags":524288,"flags":524288,"bot":true,"banner":null,"accent_color":null,"global_name":null,"avatar_decoration_data":null,"banner_color":null,"clan":null,"primary_guild":null},"pinned":false,"mention_everyone":true,"tts":false}

        '
  recorded_at: Fri, 22 Nov 2024 22:07:15 GMT
recorded_with: VCR 6.3.1
